*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(192, 220, 220);
    align-content: center; 
}

h2{
    margin-bottom: 30px;
    text-decoration: underline;
}

.container-card{
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
}

.counter-display{
    font-size: 72px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.button-container{
    margin-bottom: 20px;
}

button{
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    width: 80px;
    color: #fff;
}

#resetBtn{
    background-color: #c82333;
    margin-bottom: 20px;
}

#resent:hover{
    background-color: #b11c2b;
}

.blue-btn{
    font-size: 42px;
    
}

.blue-btn:hover{
    background-color: #222bff;
}
